/* Minimal reset css */
:root {
   --color-black: #474342;
  --color-rose: #fcbfaa;
  --color-white:#f2fafc;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  
}

ol, ul {
  list-style: none;
}
section> h1, section>h2, section>p {
  font-family: 'Reem Kufi', sans-serif;
}
section>h1{
  text-align: center;
  font-size: 2.5rem;
  margin:2%;
}

section>h2{
  margin-left: 5%;
  margin-bottom: 10px;
}



img {
  max-width: 100%;
  height: auto;
}

#container{
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  width:90%;
  margin:auto;
}
.block{

  border: 3px solid var(--color-rose);
  background-color: var(--color-black);
  margin-bottom: 50px;
  height:150px;

}

 .block.un,.block.quatre,.block.cinq{
  width:54%;
 }

 .block.deux,.block.trois,.block.six{
  width:37%;
 }

 .block>p {
  font-size:0.7rem;
  margin-top: 150px;
}

 @media screen and (max-width: 961px){
  #container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:90%;
    border: 1px solid black;
    margin:auto;
  }

  .block.un,.block.quatre,.block.cinq{
    width:100%;
   }
  
   .block.deux,.block.trois,.block.six{
    width:100%;
   }

 }