/* -- reset css -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
}

/* -- mise en forme global -- */

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

/* -- header -- */

header{
    background: #464241;
    height: 40px;
    font-family: 'Reem Kufi', sans-serif;
}

header ul{
    display:flex;
    align-items: center;
}

header ul li{
    margin: 5px;
}

header ul li h1{
    font-size: 1.5em;
    margin-right: 10px;
    font-family: 'Permanent Marker', cursive;
}

/* -- footer -- */

footer{
    background: #464241;
    height: 50px;
    width: 100%;
    font-family: 'Reem Kufi', sans-serif;
}

footer ul{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 50px;
}